/** Add css rules here for your application. */
html, body {
	height: 100%;
}

body {
	margin: 0px;	
}

.map {
	height: 100%;
	width: 100%;
}

.overlay-font {
	color: #FFF;
	font-family: 'Helvetica Neue', sans-serif;
	font-size: 46px;
	font-weight: 100;
	line-height: 50px;
	letter-spacing: 1px;
	text-shadow: 0px 0px 10px #F00;
}