# Workflow for dev snapshot deployment

name: snapshot

on:
  push:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - name: Set up JDK 11
      uses: actions/setup-java@v5
      with:
        java-version: '11'
        distribution: 'temurin'
        cache: maven
    - name: Deploy snapshot with Maven
      env:
        CI_DEPLOY_USERNAME: ${{ secrets.DEPLOY_USER }}
        CI_DEPLOY_PASSWORD: ${{ secrets.DEPLOY_PASSWORD }}
      run: mvn -s ci/settings.xml clean deploy -Dmaven.test.skip=true -Dinvoker.skip=true
